@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "San Serif";
  /* outline: 1px solid black; */
}
dialog {
  padding: 20px;
  margin: auto;
}
html {
  scroll-behavior: smooth;
}
body {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: aquamarine;
    margin: 0;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(3, 0, 36);
    border-radius: 40px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(210, 177, 255);
  }
}
.bodyContainer {
  display: flex;
}
.sideBar {
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.381);
  backdrop-filter: blur(10px);

  .sidebtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    a {
      padding: 20px 50px;
      img {
        height: 25px;
      }
      &:focus {
        border-bottom: 2px solid navy;
      }
    }
  }
}

main {
  .greet {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(
      to left,
      rgb(234, 234, 234),
      rgb(229, 234, 253)
    );
    .greetContents {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 100px;
      }
      p {
        text-align: center;
        font-size: 20px;
        width: 800px;
      }
      .homeBtns {
        margin: 20px;
        button {
          border: none;
          box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.209);
          border-radius: 10px;
          background-color: skyblue;
          margin: 0px 10px;
          width: 200px;
          padding: 20px;
        }
      }
    }
  }

  .offeredProgram {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    svg {
      z-index: -1;
      position: absolute;
      height: 1000px;
    }
    h1 {
      color: navy;
      font-size: 100px;
    }
    .programContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .contentCard {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.151);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        padding: 10px;
        background-image: linear-gradient(
          45deg,
          rgb(255, 246, 246),
          rgb(235, 235, 255)
        );
        width: 320px;
        height: 500px;
        margin: 20px;

        h3 {
          width: 250px;
        }

        p {
          width: 250px;
        }

        button {
          margin: 5px 10px;
          padding: 20px;
          width: 200px;
          background-color: navy;
          border: none;
          border-radius: 5px;
          transition: 0.5s;

          &:hover {
            cursor: pointer;
            scale: 1.01;
          }

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
  .enrollmentforms {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;

    .leftContents {
      display: flex;
      align-items: center;
      justify-content: right;
      svg {
        height: 800px;
        position: absolute;
        z-index: -1;
      }
      h1 {
        line-height: 80px;
        color: navy;
        font-size: 80px;
      }
    }
    .rightcontent {
      img {
        height: 800px;
      }
    }
  }
  .wtg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(to bottom, white, rgb(207, 207, 255) 90%);
    h1 {
      margin-bottom: 40px;
      font-size: 80px;
    }
    .startTour {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 700px;
      p {
        text-align: center;
        width: 700px;
      }
      img {
        height: 50px;
        margin: 20px;
      }
      a {
        text-decoration: none;
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(41, 20, 20, 0.106);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
        flex-direction: column;

        h3 {
          font-size: 30px;
          margin: 20px;
        }
      }
    }
    .facilities {
      display: grid;
      margin: 20px;
      padding: 20px;
      .location {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.189);
          height: 400px;
          border-radius: 20px;
        }
        .details {
          margin: 30px;
          width: 900px;
          h1 {
            font-size: 60px;
            margin: 0;
          }

          p {
            font-size: 20px;
            margin: 10px 0px;
          }
          .visayan {
            font-style: italic;
          }
        }
      }
    }
    .facilities-rev {
      display: grid;
      margin: 20px;
      padding: 20px;
      .location {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        img {
          height: 400px;
          border-radius: 20px;
        }
        .details {
          margin: 30px;
          width: 900px;
          h1 {
            text-align: right;
            font-size: 60px;
            margin: 0;
          }

          p {
            text-align: right;
            font-size: 20px;
            margin: 10px 0px;
          }
          .visayan {
            font-style: italic;
          }
        }
      }
    }
  }

  .forms {
    background-image: linear-gradient(to top, white, rgb(207, 207, 255) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    .headForm {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 300px;
        width: 1800px;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        border-radius: 20px;
        opacity: 0.8;
      }

      h1 {
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
        height: 300px;
        color: white;
        width: 1700px;
        background-image: url("../assets/images/admin/AdminLounge.jpeg");
        font-size: 100px;
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.229);
      }
    }
    .formContents {
      background-color: whitesmoke;
      padding: 50px 100px;
      border-radius: 20px;
      .formsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        .singleform {
          margin: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h2 {
            margin: 10px;
          }
          h3 {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.284);
            text-align: center;
            margin: 10px;
            padding: 10px;
            width: 200px;
            border-radius: 20px;
          }

          .formImages {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.284);
              height: 210px;
              margin: 5px 8px;
            }
          }
        }
      }

      .formDescription {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        .note {
          text-align: center;
          width: 800px;
        }
        .frontContent,
        .backContent {
          margin: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          .formImg {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          svg {
            height: 800px;
            position: absolute;
          }
          .txt {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 5;
          }
        }
        .backContent {
          flex-direction: row-reverse;
        }
        img {
          height: 500px;
          z-index: 10;
        }

        p {
          margin: 20px;
          width: 500px;
        }
      }
      .videoTutorial {
        margin-top: 50px;
        h1 {
          font-size: 80px;
        }
        iframe {
          margin: 30px 0px;
          height: 800px;
          width: 1500px;
          border: none;
          border-radius: 20px;
        }
      }
    }
  }
  .diploma {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    flex-direction: column;
    svg {
      z-index: -1;
      position: absolute;
      margin: auto;
      height: 1700px;
    }
    h1 {
      font-size: 50px;
      margin: 20px;
    }
    .bodyCourse {
      padding: 40px;
      border-radius: 20px;

      iframe {
        height: 600px;
        width: 1200px;
        border: none;
        border-radius: 20px;
      }
      .programdetails {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        .courseCard {
          margin: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          h3 {
            word-wrap: break-word;

            position: absolute;
            text-align: center;
            width: 300px;
            font-size: 30px;
            color: white;
          }
          p {
            display: none;
            font-size: 16px;
            width: 450px;
            color: white;
            position: absolute;
            z-index: 1;
            transition: 0.5s ease;
            width: 450px;
            text-align: center;
            span {
              font-weight: 700;
              font-size: 25px;
            }
          }
          img {
            filter: brightness(50%);
            position: relative;
            border-radius: 10px;
            height: 200px;
            width: 200px;
            object-fit: cover;
            transition: 0.5s ease;
          }
        }
      }
    }
    button {
      padding: 30px;
      width: 500px;
      background-color: navy;
      color: white;
      border: none;
      border-radius: 15px;
      font-size: 20px;
    }
  }

  .shortTerm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    flex-direction: column;
    svg {
      z-index: -1;
      position: absolute;
      margin: auto;
      height: 1700px;
    }
    h1 {
      font-size: 50px;
      margin: 20px;
    }
    .bodyCourse {
      padding: 40px;
      border-radius: 20px;

      iframe {
        height: 600px;
        width: 1200px;
        border: none;
        border-radius: 20px;
      }
      .programdetails {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        .courseCard {
          margin: 20px;
          align-items: center;
          justify-content: center;
          display: grid;
          gap: 10px;
          grid-template-columns: 500px 500px;
          h2 {
            color: white;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.111);
            padding: 20px;
            border-radius: 10px;
            background-color: rgb(32, 0, 51);
            &:hover {
              cursor: pointer;
              background-color: rgb(63, 1, 99);
            }
          }
        }
      }
    }
    button {
      padding: 30px;
      width: 500px;
      background-color: navy;
      color: white;
      border: none;
      border-radius: 15px;
      font-size: 20px;
    }
  }
  #shorterModal {
    width: 800px;
    height: 1000px;
    #shortermTbl {
      background-color: whitesmoke;
      tr {
        &:hover {
          background-color: rgb(207, 207, 207);
        }
      }
      th {
        text-align: center;
        padding: 15px;
      }
      td {
        width: 200px;
        padding: 20px;
        width: 100%;
      }
    }
  }

  .communityBased {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    flex-direction: column;
    svg {
      z-index: -1;
      position: absolute;
      margin: auto;
      height: 1700px;
    }
    h1 {
      font-size: 50px;
      margin: 20px;
    }
    .bodyCourse {
      padding: 40px;
      border-radius: 20px;

      iframe {
        height: 600px;
        width: 1200px;
        border: none;
        border-radius: 20px;
      }
      .programdetails {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        .courseCard {
          margin: 20px;
          display: grid;
          align-items: center;
          justify-content: center;
          grid-template-columns: 600px 600px;
          gap: 10px;

          .left {
            width: 600px;
            h1 {
              text-align: center;
              font-size: 30px;
            }
            .btns {
              align-items: center;
              justify-content: center;
              display: grid;
              grid-template-columns: 250px 250px;
              gap: 10px;
              h3 {
                border-radius: 10px;
                color: white;
                background-color: navy;
                padding: 15px;
                text-align: center;
                background-color: rgb(32, 0, 51);
                &:hover {
                  cursor: pointer;
                  background-color: rgb(63, 1, 99);
                }
              }
            }
          }

          .right {
            width: 600px;
            h1 {
              text-align: center;
              font-size: 30px;
            }
            .btns {
              align-items: center;
              justify-content: center;
              display: grid;
              grid-template-columns: 280px 280px;
              gap: 10px;
              h3 {
                border-radius: 10px;
                font-size: 15px;
                color: white;
                padding: 20px;
                text-align: center;
                background-color: rgb(32, 0, 51);
                &:hover {
                  cursor: pointer;
                  background-color: rgb(63, 1, 99);
                }
              }
            }
          }
        }
      }
    }
    button {
      padding: 30px;
      width: 500px;
      background-color: navy;
      color: white;
      border: none;
      border-radius: 15px;
      font-size: 20px;
    }
  }
  #cbtModal {
    width: 1000px;
    height: 1000px;
    #cbtTbl {
      background-color: whitesmoke;
      tr {
        &:hover {
          background-color: rgb(207, 207, 207);
        }
      }
      th {
        text-align: center;
        padding: 15px;
      }
      td {
        width: 20px;
        padding: 10px;
        width: 100%;
      }
    }
  }



  .contact {
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgb(79, 79, 255) 70%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    .head {
      text-align: center;
    }
    .contentCards {
      display: grid;
      gap: 10px;
      grid-template-columns: auto auto;
      .maps {
        height: 280px;
        width: auto;
        grid-column: 1 / span 2;
        display: flex;
        justify-content: center;
        iframe {
          border: none;
          border-radius: 10px;
          width: 100%;
        }
      }

      .callUs,
      .emailUS {
        height: 500px;
        width: 700px;
        background-color: whitesmoke;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.165);

        .cardHeader {
          font-size: 50px;
          display: flex;
          justify-content: left;
          align-items: center;
          img {
            margin: 5px;
            height: 50px;
          }
        }
        .details {
          display: grid;
          grid-template-columns: auto auto;
          .contactCard,
          .EmailCard {
            width: 320px;
            padding: 10px;
            background-color: white;
            margin: 5px;
            h1 {
              font-size: 20px;
            }
            p {
              font-size: 14px;
            }
          }
          .EmailCard {
            word-wrap: break-word;
          }
        }
      }
    }
  }
  .feedBack{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    #pdfViewer{
      height: 1200px;
      width: 1900px;
      embed{
        height: 100%;
        width: 100%;
      }
    }
    footer{
      
    }
    
  }


}
